body { background-color: #f5f2e9;
}
.menu { font-family: helvetica ;
        font-size: 35px;
        font-weight: bold;
          }

div > h1 {
  font-size: 45px
  font-weight: bold;
  border: 10px solid black;
  text-align: center;
  color: red;
}

}
a::before {
  content: \261B;
}
a::selection { background-color: yellow;
               color: red;
}
table { border: 5px solid black;
  margin: 2px;
  padding: 2px;

}

button { color: blue
font-size: 35px;
}
