body {
          background-color: #f2f2f2;
          font-family: helvetica;
}
a::before     {
                content: \261B;
}
a::selection  {
                background-color: #5aad76;
                color: white;
}
div > h1   {
            font-weight: bold;
            text-align: center;
            color: #d93b3b;
            padding: 20px;
            text-decoration: underline;
}
#volver {
          background-color: #dbdbdb;
          text-align: center;
          font-family: sans-serif;
          font-weight: bold;
          font-size: 20px;
          width: 300px;
}
#volver:hover {   background-color: darkgrey;

}

div > p    {
              background-color: lightgrey;
              margin:20px;
              padding: 15px;
              font-family: helvetica;
              font-weight: bold;
              font-size: 20px;
              text-align: center;
}
.imagenes {
            display: flex;
            flex-wrap: wrap;
}
.imagenes > div {
                background-color: springgreen;
                margin: 20px;
                padding: 25px;
                width: 250px;
}

ol li {
         margin: 5px;
         padding: 5px;
         width: auto;

}
ol div {
      margin: 5px;
      padding: 5px;
      margin-left: auto;
      margin-right: auto;
}
ol p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.botonesmenu {
  margin: 20px;
  padding: 10px;

  }

  table {
     padding:5px;
     margin: 15px;

  }
  @media print  {
                  .parra5 {
                    display: none;
                  }
  }
