$color: #383838;

%origenes {
            color: $color;
            font-family: sans-serif;
            font-weight: bold;
            text-align: center;

}
.col {
        @extend %origenes;
        font-size: 25px;
      }
.col-8 {
          @extend %origenes;
          font-size: 15px;
          padding: 20px;
}
div   {
          h2  {     text-align:center;
                    color:#273c66;
                    padding: 15px;
                  }
          h3  {
                    font-size: bold;
                    text-align: center;
                    color:#244a34;
                    text-decoration: underline;
                  }
}
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr {
		display: block;
	}

  thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
tr { border: 1px solid #ccc; }

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
    text-align: center;
    color:$color;
	}
  td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
    text-align: center;
    color:$color;
	}

#volver {
   text-align: center;
}
  }
  .text-center {
    margin: 10px 20;
  }
