$color: #708277;

%parrafo {
  font-size:20px;
  font-family: helvetica;
 margin-left: auto;
  padding: 5px;
  color: $color;
  text-align: center;
}

.parra1 { @extend %parrafo;
    background-color:#3de3bd;
}
.parra2 { @extend %parrafo;
  background-color: #ffd452;
}
.parra3 { @extend %parrafo;
  background-color: #ed5c3b;
}
.parra4 { @extend %parrafo;
  background-color: #e24af0;
}
div{
   h2{ background-color: grey;
        text-align:center;
        color:#273c66;
   }
    h3 {
      background-color: Yellow;
      font-size: bold;
      text-align: center;
      color:#276641;
          }
}
